button {
    padding: 6px 10px; // 调整按钮内边距
    border-radius: 6px;
    font-size: 12px; // 减小字体大小
    font-weight: 500;
    transition: all 0.2s ease;
    border: none;
    cursor: pointer;
    flex: 1; // 让按钮均匀分配空间
    min-width: 80px; // 设置最小宽度
    text-align: center; // 文字居中

    &.primary-button {
        background-color: #007bff;
        color: #ffffff;

        &:hover {
            background-color: #0069d9;
        }
    }

    &.secondary-button {
        background-color: #f1f5f9;
        color: #1e3a8a;

        &:hover {
            background-color: #e2e8f0;
        }
    }

    &.third-button {
        background-color: #e6f7ff;
        color: #0050b3;

        &:hover {
            background-color: #bae7ff;
        }
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
/* 隐藏滚动条，保留滚动功能 */
.hide-scrollbar {
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */ }